<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">	
	<link rel="stylesheet" href="/styles/login.css">
</head>
<body>
	<div class="login-container">
		<h1>Login</h1>
		<form class="login-form">
			<input type="text" placeholder="Nome de usuário">
			<input type="password" placeholder="Senha">
			<input type="submit" value="Entrar">
		</form>
		<div class="signup-link">
				<p>Não tem uma conta?</p>
				<a href="/create">Criar conta</a>
			</div>
	</div>
</body>
</html>
